<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/constant.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">  
</head>
<body id="mainbackground">
    <!--video -->
    <video controls autoplay muted loop style="width: 100%; max-height: 500px; object-fit: cover;">
        <source src="/Videos/flowervideo.mp4" type="video/mp4">
   
    </video>

       
        <div class="info-container" >
          <p><span class="bold">Language:</span>Javascipt</p>
          <p>Made in: 2025</p>
          <p><b>Introduction</b></p>
          <p>This is a small website I made which allows you to add and delete workouts details</p>
          <p><b>Development</b></p>
          <p>This website was build using JavaScript and MONGO DB Cloud.</p>
          <p>The main challenges I faced was trying to link the front end of the website to the backend as sometime the data that are added in the 
            frontend does not make it to the backend so it will not show up in the website
          </p>
          <p>I feel like the things I did good is when I am coding the backend of the code as I find it much easier to understand it than coding the interactions of the front and back end when coding the front end 
            of the code
          </p>
         

        <p><b>Review</b></p>
        <p>I had a lot of fun making this website.Next time I would like to learn how to add desgins better and how to add new interactions such as adding multiple workout at once</p>
        <br>
          <p>The website is hosted on render it might take some time to load due to inactivity</p>
         
          <a href="https://mern-workout-app-starter-main-c219.onrender.com" target="_blank">Click here to visit the website</a>

          <br>
          <button onclick="scrollToPortfolio()" class="btn btn-primary">Back to Portfolio</button>
        </div>

        <script>
            function scrollToPortfolio() {
                window.location.href = '/#portfolio'; 
            }
        </script>
    </body>
</html>

