<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/CSS/Home.css" rel="stylesheet">
    <link href="/CSS/navbar.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.1/dist/aos.js"></script>

   
</head>

<body id="mainbackground" >
    <%- include('partials/navbar.ejs') %>

    <section data-aos="fade-left" id="home">
       
            
            
            <div class="info-container-main">
                <h3><b>Welcome</b></h3>
                <div>
                    <h4>Hi there,this is my portfolio.I am
                    </h4>
                    <img src="/images/logo.png">
                    <p>Wei jun</p>
                    
                </div>
            </div>
            
           
             
           
           
     
    </section>
    
    <br>
    <br>
    <br>
    <br>
    
    
    <section data-aos="fade-left" id="about">
        


        
        <div class="info-container">
            <h3><b>About Me</b></h3>
            <div class="about-content">
                <p>Hi, I am <span class="highlight">Ng Wei Jun</span>, a student in Digital Design and Development. I aim to develop a game and a professional website of my own. I have learned how to use Photoshop and Illustrator in a basic way, along with HTML, JavaScript, CSS, C++, and Python.</p>
        
                <div class="skills-images">
                    <img width="100px" src="/images/illustrator.png" alt="Illustrator" class="img-fluid spaced-img" />
                    <img width="100px" src="/images/Css.png" alt="CSS" class="img-fluid spaced-img" />
                    <img width="100px" src="/images/Java.png" alt="JavaScript" class="img-fluid spaced-img" />
                    <img width="100px" src="/images/Photoshop.png" alt="Photoshop" class="img-fluid spaced-img" />
                    <img width="100px" src="/images/Python.png" alt="Python" class="img-fluid spaced-img" />
                </div>
                <br>
                <a href="/about" class="btn btn-primary">More about me</a>
            </div>
        </div>
        
            

           

        </div>
    </section>

    <br>
    <br>
    <br>
    <br>

    <section data-aos="fade-left" id="portfolio">

   
    
            <div class="info-container">
                <h3><b>Portfolio</b></h3>
                <div class="portfolio-tabs">
                    <button class="tab-button active" onclick="showTab('design')">Design</button>
                    <button class="tab-button" onclick="showTab('web-development')">Web Development</button>
                    <button class="tab-button" onclick="showTab('programming')">Programming</button>
                </div>
    
                
                <div id="design" class="tab-content">
                    <h3>Design Projects</h3>
                    <p>These are my design projects made using Illustrator and Photoshop.</p>
                    <div class="project w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <img src="/images/moodboard.png" alt="moodboard" style="width:100%" >
                            <div class="w3-container w3-white">
                                <p><b>This is a travel log moodboard I made</b></p>
                            </div>
                            <a href="/Moodboard" class="btn btn-primary">View</a>
                        </div>
                    </div>
                    
                    <br>

                    <div class="project w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <img src="/images/stickers.png" alt="stickers" style="width:100%" >
                            <div class="w3-container w3-white">
                                <p><b>This is a stickers collection I made that can be use on telegram and website</b></p>
                            </div>
                            <a href="/sticker" class="btn btn-primary">View</a>
                        </div>
                    </div>

                    <div class="project w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <img src="/images/Foodle.png" alt="Food app" style="width:100%" >
                            <div class="w3-container w3-white">
                                <p><b>This is a Proto-Type of a food app design I made using Figma </b></p>
                            </div>
                            <a href="/Foodle" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
    
                
                <div id="web-development" class="tab-content" style="display: none;">
                    <h3>Web Development Projects</h3>
                    <p>These are my website development projects made using JavaScript, HTML, and CSS.</p>
                    <div class="project w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <img src="/images/flowers.png" alt="flowers" style="width:100%" >
                            <div class="w3-container w3-white">
                                <p><b>This is a flower ordering webside I made</b></p>
                            </div>
                            <a href="/flower" class="btn btn-primary">View</a>
                        </div>
                    </div>

                    <br>



                    <div class="project w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <img src="/images/Animal.png" alt="animal" style="width:50% " >
                            <div class="w3-container w3-white">
                                <p><b>This is a  small animal quiz app I made that makes you identify the animal</b></p>
                            </div>
                            <a href="/animal" class="btn btn-primary">View</a>
                        </div>
                    </div>


                    <div class="project w3-row-padding">
                        <div class="w3-third w3-container w3-margin-bottom">
                            <img src="/images/travel.png" alt="animal" style="width:50%" >
                            <div class="w3-container w3-white">
                                <p><b>This is a travel list website that help people keep track of their items they need to pack using React</b></p>
                            </div>
                            <a href="/travel" class="btn btn-primary">View</a>
                        </div>
                    </div>
                </div>
    
                <div id="programming" class="tab-content" style="display: none;">
                    <h3>Programming Projects</h3>
                    <p>These are my programming projects made using C++ and Python.</p>

                    <div class="project w3-row-padding">
                    <div class="w3-third w3-container w3-margin-bottom">
                        <img src="/images/Escape.png" alt="Escape" style="width:100%" >
                        <div class="w3-container w3-white">
                            <p><b>This is a VR Escape room  I made</b></p>
                        </div>
                        <a href="/Escape" class="btn btn-primary">View</a>
                    </div>
                </div>
                </div>
                


            </div>

           
    


        <script>
        function showTab(tabId) {
            const contents = document.querySelectorAll('.tab-content');
            contents.forEach(content => content.style.display = 'none');
    
            document.getElementById(tabId).style.display = 'block';
    
            const buttons = document.querySelectorAll('.tab-button');
            buttons.forEach(button => button.classList.remove('active'));
            event.currentTarget.classList.add('active');
        }
        </script>
x

    </section>
    
    <br>
    <br>
    <br>
    <br>
    



    <section data-aos="fade-left" id="contact">
        
    
        
            
            <div class="info-container">
                <h3><b>Contact</b></h3>
                <br>
                <br>
                <br>
                <div>
                    <div class="contact-info"> 
                        <img src="/images/out-removebg-preview.png" alt="outlook" class="img-fluid" width="100px" />
                        <p>My email is 23021523@myrp.edu.sg</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="contact-info"> 
                        <img src="/images/Linkedin.png" alt="linkdin" class="img-fluid" width="100px" />
                        <p>My linkdin link is www.linkedin.com/in/ng-wei-jun-ab64a9279</p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="contact-info"> 
                        <img src="/images/phone.png" alt="linkdin" class="img-fluid" width="100px" />
                        <p>My phone number is 98276503</p>
                    </div>
                    
                    
                </div>

                
            </div>

           
        
    </section>


    <script>
        AOS.init({
            duration: 1000, 
            easing: 'ease-in-out',
        });

        function scrollToSection(sectionId) {
        document.getElementById(sectionId).scrollIntoView({
            behavior: 'smooth'
        });
    }
    </script>
    



    
</body>
</html>
