@font-face {
    font-family: 'Storm Catcher';
    src: url('../Fonts/Storm\ Catcher.otf') format('truetype');
}

html {
    scroll-behavior: smooth;
  }
  

#title {
    text-align: center;
}

#mainbackground {
    background-color: #1E9AD6;
   
}

.highlight {
    color: orange;
   
    font-weight: bold;
}




.info-container {
    background-color: yellow;
    padding: 20px;
    max-width: 1100px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
}


#about .info-container,
#portfolio .info-container {
    width: 100%; 
}


.w3-row-padding{
    background-color: yellow;
}
.contact-info {
    display: flex;
    align-items: center; 
    gap: 10px;           
}





.info-content {
    font-size: 1.2rem;
    text-align: center;
}

/* Main container style */
.info-container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    padding: 50px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

/* Heading styling */
.info-container-main h3 {
    font-size: 6.3rem;
    font-weight: bold;
    color: #333;

}


.info-container-main h4 {
    font-size: 5.3rem;
    font-weight: bold;
    color: #333;

}
 .info-container-main img { 
    width: 500px;
    height: 500px;
   
}

.info-container-main p {
    font-size: 5.3rem;
    font-weight: bold;
    color: #333;

}

.spaced-img {
    margin-right: 100px; 
}


.tab-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    border-radius: 5px; /* optional, for rounded corners */
  }
  
  .tab-button:hover {
    background-color: darkblue; /* optional, for hover effect */
  }
  
  
  
