

html {
  scroll-behavior: smooth;
}


#title {
  text-align: center;
}

#mainbackground {
  background-color: #1E9AD6;
 
}

.carousel-inner img {
  display: block;
  margin: 0 auto;
  max-width: 80%; 
  height: auto;  
}

/* Center carousel control buttons vertically */
.carousel-control-prev,
.carousel-control-next {
  top: 100%;                /* Position them at the middle of the carousel */
  transform: translateY(-30%); /* Offset by 50% of their own height */
  width: 5%;
}









